#name {
    width: 500px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
    
#button_box {
  height: 250px;
  width: 900px;
  display: flex;
  justify-content: space-around;
}

#attendance_button, #leaving_button {
  width: 400px;
  height: 200px;
}
#attendance_button {
  border: 0px;
  background-color:royalblue;
  font-size: 70px;
  color: white;
}
#leaving_button {
  border: 0px;
  background-color: orange;
  font-size: 70px;
  color: white;
}


#lower_box {
  width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.text_box {
}
.lower_text {
  margin-top: 0px;
  margin-bottom: 3px;
}
#account_text {
  border: 3px solid blue;
  width: 200px;
  height: 80px;
  font-size: 20px;
}

#password_text {
  border: 3px solid blue;
  width: 200px;
  height: 80px;
  font-size: 20px;
}

#login_button {
  border: 0px;
  background-color: olivedrab;
  font-size: 20px;
  color: white;
  width: 200px;
  height: 80px;
}

#cacncel_button {
  border: 0px;
  background-color:lightgray;
  font-size: 20px;
  color: white;
  width: 200px;
  height: 80px;
}

#clock_box {
  font-size: 50px;
  font-weight: bolder;
}